.page-header{
	padding: 32px 0 29px;
	position: relative;
	z-index: 8;
}

.page-header__wrap{
	display: flex;
	justify-content:space-between;
	    align-items: center;
}

.page-header__logo{
	color: #000;
	text-decoration: none!important;
}

.page-header__icon{
	background: url(../img/svg/logo.svg) no-repeat;
	display: inline-block;
	width: 193px;
	height: 39px; 
}
.page-header__txt{
	font-size: 12px;
	font-weight: 300;
	display: block;
	    padding-top: 2px;
}

.top{
	border-top: 1px solid #D9D9D9;
	border-bottom: 1px solid #D9D9D9;
	position: relative;
	z-index: 4;
	.container-fluid{
		position: static;
	}
}
.top__wrap{
	display: flex;
	    margin-bottom: -1px;
}

.top-catalog__toggle{
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	padding: 24px 49px 24px 54px;
	border-right: 1px solid #D9D9D9;
	font-weight: 700;
	border-bottom: 1px solid transparent;
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
	&:hover{
		color: $alt-color;
		border-bottom: 1px solid #000;
		&:before{
			transform:translateY(-1px);
		}
		&:after{
			transform:translateY(1px);
		}
		
	}
	&:before{
		content: "";
		display: inline-block;
		width: 25px;
		height: 1px;
		background: #000;
		position: absolute;
		left: -2px;
		top: 23px;
		transition: all 0.3s ease;
	}
	&:after{
		content: "";
		display: inline-block;
		width: 25px;
		height: 1px;
		background: #000;
		position: absolute;
		left: -2px;
		top: 38px;
		transition: all 0.3s ease;
	}
	&.active{
		color: $alt-color;
		border-bottom: 1px solid #000;
		&:before{
			transform:translateY(-1px);
		}
		&:after{
			transform:translateY(1px);
		}
	}
}

.top-catalog__toggle--mobile{
	display: none;
}

@media screen and (min-width: 1024px){
	.top-catalog{
		&:hover{
			.top-catalog__menu{
				display: block!important;
			}
		}
	}
}


.submenu{
	position: absolute;
	top: 100%;
	padding: 20px 21px 20px 24px;
	background: #F4F4F4;
	box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.17);
	min-width: 100%;
	left: 50%;
	border-top: 1px solid #000;
	margin-top: -1px;
	opacity: 0;
    //transition: all 0.3s linear;
    z-index: -1;
    visibility: hidden;
    transform: translate(-50%, 5%);
    will-change:transform;
	&:before{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 7px 6px;
		border-color: transparent transparent #000000 transparent;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}
.top-menu__item{
	background: #fff;
}




.submenu__item{
	font-size: 14px;
	font-weight: 500;
	display: block;
	margin-bottom: 13px;
	color: #000;
	white-space: nowrap;
	&:last-child{
		margin-bottom: 0;
	}
	&.active{
		color: #929292;
	}
	span{
		position: relative;
		color: #000;
		transition:all 0.3s ease;
		display: inline-block;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			bottom: 0;
			left: 0;
			opacity: 0;
			transition:all 0.3s ease;
			    transform: none!important;
			    top: auto!important;
		}
		&:after{
			display: none!important;
		}
	}
	&:hover,
	&.active{
		span{
			color: #929292;
			&:before{
				bottom: -2px;
				opacity: 1;
			}
		}
	}
}






.top-search{
	flex-grow:1;
	border-right: 1px solid #D9D9D9;
	form{
		height: 100%;
	}
}
.top-search__wrap{
	display: flex;
	height: 100%;
	position: relative;
}

.top-search__input{
	display: block;
	width: 100%;
	padding: 9px 65px 9px 22px;
	font-weight: 300;
	font-size: 16px;
	border: 0; 
	    border-bottom: 1px solid #D9D9D9;
}

.top-search__submit{
	position: absolute;
	right: 22px;
	top: 50%;
	transform: translateY(-50%);
	display: inline-block;
	padding: 0;
	border: 0;
	//text-indent: -9999em;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: transparent; 
	span{
		width: 17px;
		height: 17px;
		background: url(../img/svg/search.svg) no-repeat; 
		display: inline-block;
		position: relative;
		z-index: 2;
		transform: translateZ(0);
	}
	&:before{
		content: "";
		display: inline-block;
		background: #F8F8F8;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		position: absolute;
		top: -17px;
		left: -17px;
		z-index: 1;
		transform: scale(0);
		transition: all 0.3s ease;
	}
	&:hover{
		&:before{
			transform: scale(1);
		}
	}
}

.top-menu{
	display: flex;
	padding-left: 7px;
	margin-right: -31px
}
.top-menu__item{
	&:last-child{
		// .top-menu__link{
		// 	padding-right: 0;
		// }
	}
	span{
		position: relative;
	}
}

.top-menu__item--sub{
	position: relative;
	.top-menu__link{
		span{
			&:after{
				content: "";
				width: 7px;
				height: 7px;
				display: inline-block;
				position: absolute;
				left: calc(100% + 5px);
				top: 50%;
				transform: translateY(-50%);
				background: url(../img/svg/sub.svg) no-repeat;
				    margin-top: -1px;
			}
		}
		
	}
	&:hover{
		.submenu{
			opacity: 1;
		    transform: translate(-50%, 0); 
		    z-index: 4;
		    visibility: visible;
		    transition: transform 0.2s linear;
		}
	}
}

.top-menu__link{
	display: inline-block;
	padding: 24px 31px;
	text-transform: uppercase;
	font-size: 12px;
	color: #000;
	font-weight: 700;
	    border-bottom: 1px solid #D9D9D9;
	transition:all 0.3s ease;
	&:hover,
	&.active{
		border-bottom: 1px solid #000;
		color: $alt-color;
	}
}





.page-header-links{
	margin-right: 95px;
}

.page-header-links__item{
	display: block;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: 500;
	&:last-child{
		margin-bottom: 0;
	}
	span{
		color: #000;
		transition: all 0.3s ease;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			left: 0;
			bottom: -1px;
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
	&:hover{
		span{
			color: $alt-color;
			&:after{
				opacity: 1;
			}
		}
	}
}

.page-header__info{
	display: flex;
	    margin-top: -5px;
}


.page-header-contacts{
	margin-right: 153px;
	font-size: 13px;
	font-weight: 500;
}

.page-header-contacts__item{
	display: block;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}

.page-header-contacts__item--mail{
	padding-left: 25px;
	position: relative;
	display: inline-block;
	&:before{
		content: "";
		display: inline-block;
		width: 18px;
		height: 12px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/mail.svg) no-repeat;
		margin-top: 1px;
		transition: background 0.3s ease;
	}
	span{
		color: #000;
		transition: all 0.3s ease;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			left: 0;
			bottom: -1px;
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
	&:hover{
		&:before{
			background: url(../img/svg/mail-h.svg) no-repeat;
		}
		span{
			color: $alt-color;
			&:after{
				opacity: 1;
			}
		}
	}
}

.page-header-contacts__item--phone{
	padding-left: 25px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 2px;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/phone.svg) no-repeat;
		margin-top: -1px;
		transition: background 0.3s ease;
	}
	span{
		
	}
	&:hover{
		&:before{
			background: url(../img/svg/phone-h.svg) no-repeat;
		}
		.phone-link{
			color: $alt-color;
			&:after{
				border-bottom: 1px dashed $alt-color;
			}
		}
	}
}

.phone-link{
	color: #000;
	transition: all 0.3s ease;
	position: relative;
	&:after{
		content: "";
		display: inline-block;
		width: 100%;
		height: 1px;
		border-bottom: 1px dashed #000;
		position: absolute;
		left: 0;
		bottom: -1px;
		transition: opacity 0.3s ease;
		//opacity: 0;
	}
}


.phone-list{
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 30px 0 34px 40px;
	background: #F4F4F4;
	box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.17);
	border-top: 1px solid #000;
	margin-top: 8px;
	z-index: 3;
	width: 512px;
	transform: translateX(-50%);
	z-index: -1;
	visibility: hidden;
	opacity: 0;

	&.active{
		opacity: 1;
	    transform: translate(-50%, 0);
	    z-index: 2;
	    visibility: visible;
	}
	&:before{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 6px 7px 6px;
		border-color: transparent transparent #000000 transparent;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	.page-footer-sqheme {
	    padding-top: 26px;
	}
}

.phone-wrapper{
	display: flex;
	flex-wrap:wrap;
}
.phone-list__col{
	width: 50%;
	padding-right: 25px;
	margin-bottom: 24px;
	&:nth-child(3){
		margin-bottom: 0;
		.phone-list__inner{
			padding-bottom: 0;
		}
		.phone-list__inner:after{
			display: none;
		}
	}
	&:nth-child(4){
		margin-bottom: 0;
		.phone-list__inner{
			padding-bottom: 0;
		}
		.phone-list__inner:after{
			display: none;
		}
	}
	&:nth-child(2),
	&:nth-child(4){
		padding-right: 0;
	}
}

.phone-list__inner{
	position: relative;
	padding-bottom: 29px;
	&:after{
		content: "";
		display: block;
		width: 151px;
		height: 1px;
		background: #D8DFE8;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.phone__item{
	display: block;
	color: #000;
	transition: color 0.3s ease;
	margin-bottom: 7px;
	font-size: 12px;
	&:last-child{
		margin-bottom: 0;
	}
	&:hover{
		color: #929292;
	}
}
.phone-title{
	    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.55;
    font-size: 14px;
}

.phone-wrap{
	margin-bottom: 30px;
}





.page-header-enter{
	font-size: 13px;
	font-weight: 500;
}

.page-header-enter__item{
	display: block;
	margin-bottom: 15px;
	&:last-child{
		margin-bottom: 0;
	}
}

.page-header-enter__item--sqheme{
	padding-left: 17px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 10px;
		height: 14px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/sqheme.svg) no-repeat;
		margin-top: -1px;
		transition: background 0.3s ease;
	}
	span{
		color: #000;
		transition: all 0.3s ease;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			left: 0;
			bottom: -1px;
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
	&:hover{
		&:before{
			background: url(../img/svg/sqheme-h.svg) no-repeat;
		}
		span{
			color: $alt-color;
			&:after{
				opacity: 1;
			}
		}
	}
}

.page-header-enter__item--login{
	padding-left: 17px;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 13px;
		height: 14px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background: url(../img/svg/enter.svg) no-repeat;
		margin-top: 1px;
		transition: background 0.3s ease;
	}
	span{
		color: #000;
		transition: all 0.3s ease;
		position: relative;
		&:after{
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background: #000;
			position: absolute;
			left: 0;
			bottom: -1px;
			transition: opacity 0.3s ease;
			opacity: 0;
		}
	}
	&:hover{
		&:before{
			background: url(../img/svg/enter-h.svg) no-repeat;
		}
		span{
			color: $alt-color;
			&:after{
				opacity: 1;
			}
		}
	}
}

.top-menu-mobile{
	display: none;
	order: 2;
}
.top-menu-mobile__toggle{
	display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    padding: 24px 23px 24px 50px;
    border-right: 1px solid #D9D9D9;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    span{
    	position: relative;
    	&:before{
    		content: "";
    		display: inline-block;
    		width: 15px;
    		height: 15px;
    		background: url(../img/svg/info.svg) no-repeat;
    		position: absolute;
    		left: -23px;
    		top: 50%;
    		transform:translateY(-50%);
    	}
    }
}

.menu-mobile-list{
	background: #fff;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 4;
    height: 100vh;
    display: none;
    text-align: left;
}
.menu-mobile__close{
	padding: 20px;
}
.close-link{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/svg/close-link.svg) no-repeat; 
	margin-left: 27px;
	margin-top: -4px;
}
.menu-mobile-list__item{
	border-top: 1px solid #E2E2E2;
	padding: 13px 20px;
	position: relative;
	&:last-child{
		border-bottom: 1px solid #E2E2E2;
	}
	&.active{
		background: #F9F9F9;
	}
}

.menu-mobile-list__link{
	display: inline-block;
	text-transform: uppercase;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	&.active{
		color: #929292;
	}
}


.menu-mobile-hidden{
	max-height: calc(100vh - 198px);
    overflow-y: auto;
    padding-bottom: 50px;
    text-align: left;
}

.menu-mobile-hidden::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}
 
.menu-mobile-hidden::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.menu-mobile-hidden::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5A5A5A;
}
.menu-mobile__add{
	padding: 20px 20px 0;
	a{
		display: block;
		font-size: 13px;
		margin-bottom: 20px;
		color: #000;
		text-decoration: none;
		&:after{
			display: none;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}


.menu-mobile-list__submenu{
	    margin: 0 -20px -13px -20px;
    padding: 20px 20px 20px 40px;
    border-top: 1px solid #000;
    margin-top: 20px;
    display: none;
    background: #fff;
	a{
		display: block;
		font-size: 13px;
		margin-bottom: 20px;
		color: #000;
		text-decoration: none;
		&:after{
			display: none;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}


.mobile-submenu-toggle{
	display: inline-block;
    width: 20px;
    height: 15px;
    background: url(../img/svg/faq_select_arrow.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 16px;
    transition:transform 0.3s ease;
    &.active{
    	transform: rotate(180deg);
    }
}

.top-catalog__menu{
	left: 0;
	top: 100%;
	background: #F4F4F4;
	z-index: 3;
	position: absolute;
	width: 100%;
	box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.17);
	padding: 40px 0;
	margin-top: 1px;
	display: none;
}


// .submenu{
// 	margin-top: -1px;
// 	opacity: 0;
//     z-index: -1;
//     visibility: hidden;
//     transform: translate(-50%, 5%);
//     will-change:transform;

// }
// .top-menu__item--sub.active{
// 	.submenu{
// 		opacity: 1;
// 	    transform: translate(-50%, 0); 
// 	    z-index: 4;
// 	    visibility: visible;
// 	    transition: transform 0.2s linear;
// 	}
// }


.top-catalog__wrap{
	display: flex;
	margin-right: -74px;
}
.top-catalog__item{
	padding-right: 74px;
	width: 16.6666%;
}

.top-catalog__link{
	display: flex;
	    align-items: center;
	color: #000;
	font-size: 13px;
	span{
		// position: relative;
		// &:after{
		// 	content: "";
		// 	display: inline-block;
		// 	width: 100%;
		// 	height: 1px;
		// 	background: #000;
		// 	position: absolute;
		// 	left: 0;
		// 	bottom: -1px;
		// 	transition: opacity 0.3s ease;
		// 	opacity: 0;
		// }
	}
	&.active{
		color: #929292;
		.top-catalog__icon{
			&:after{
				transform: scale(1);
			}
		}
	}
}

a.top-catalog__link{
	&:hover{
		color: #929292;
		.top-catalog__txt{
			text-decoration: underline;
		}
		.top-catalog__icon{
			&:after{
				transform: scale(1);
			}
		}
	}
	
}

.top-catalog__txt{
	position: relative;
	z-index: 2;
	display: inline;
	font-weight: 500;
}

.top-catalog__icon{
	width: 40px;
	height: 40px;
	display: flex;
	align-items:center;
	justify-content:center;
	margin-right: 10px;
	position: relative;
	img{
		display: block;
		max-width: 100%;
		height: 100%;
		max-height: 100%;
		position: relative;
		z-index: 2;
	}
	&:after{
		content: "";
		display: inline-block;
		background: #fff;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		position: absolute;
		top: -15px;
    	left: -18px;
		z-index: 1;
		transform: scale(0);
		transition: all 0.3s ease;
	}
}

.top-catalog-sub{
	padding-top: 26px;
}

.top-catalog-sub__item{
	font-size: 12px;
	color: #000;
	display: block;
	transition: all 0.3s ease;
	margin-bottom: 7px;
	font-weight: 500;
	&:last-child{
		margin-bottom: 0;
	}
	span{

	}
	&:hover,
	&.active{
		color: #929292;
		span{
			text-decoration: underline;
		}
	}
}

.top-search-mobile{
	width: 20%;
    order: 2;
    border-right: 1px solid #D9D9D9;
    display: none;
}

.top-search-mobile__toggle{
	display: block;
	width: 100%;
    height: 100%;
    background: url(../img/svg/search.svg) center no-repeat;
}

.top-phones-mobile{
	width: 20%;
    order: 3;
    border-right: 1px solid #D9D9D9;
    display: none;
}

.top-phones-mobile__link{
	display: block;
	width: 100%;
    height: 100%;
    background: url(../img/svg/phone.svg) center no-repeat;
}
.top-mobile-map{
	width: 20%;
    order: 5;
    display: none;
}

.top-mobile-map__link{
	display: block;
	width: 100%;
    height: 100%;
    background: url(../img/svg/sqheme.svg) center no-repeat;
}




.top-search-mobile__form{
	position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 4;
    display: none;
    .top-search__input {
	    padding: 15px 45px 14px 45px;
	}
	.top-search__submit {
	    right: auto;
	    left: 18px;
	}
}
.top-search-mobile__close{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(../img/svg/close-link.svg) no-repeat;
	background-size: contain;
	z-index: 4;
}

.top-catalog__close{
	display: none;
}

.top-catalog-sub__toggle{
	display: none;
}