
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}

@media all and (-ms-high-contrast:none){
    *::-ms-backdrop, .banner__in { height:104px; } /* IE11 */

    *::-ms-backdrop, .all-projects:before{transition:none;}
    *::-ms-backdrop, .all-projects:after{transition:none;}
    *::-ms-backdrop, .index-services__txt:before{transition:none;}
    *::-ms-backdrop, .index-services__txt:after{transition:none;}
    *::-ms-backdrop, .all-info:before{transition:none;}
    *::-ms-backdrop, .all-info:after{transition:none;}
    *::-ms-backdrop, .gallery__link--more span:before{transition:none;}
    *::-ms-backdrop, .gallery__link--more span:after{transition:none;}

    *::-ms-backdrop, .bottom-feedback-form__item input[type='text']{height: 64px}

    *::-ms-backdrop, .object-partner-benefits{flex-basis:404px;}

    *::-ms-backdrop, body{ overflow-x:hidden; }
    *::-ms-backdrop, .index-info-articles__img{transform:none!important;}

}
@supports (-ms-ime-align:auto){
	body { overflow-x:hidden; }
}



//MEDIA
@media screen and (max-width: 1450px){
	.container-fluid{
		padding: 0 20px;
	}
	.container-fullwidth__img,
	.container-fullwidthLargeWrap__img{
	    margin-left: -20px;
	}
	.top-menu{
		margin-right: 0;
	}
	.main-next .main-slider-preview {
	    right: -10px;
	}
	.main-prev .main-slider-preview {
	    left: -10px;
	}
	#counter{
		position: relative;
	}
	.layout--obj .page-content > .container-fluid {
	    padding: 0;
	}
}

@media screen and (max-width: 1400px){
	.object-slider__info{
		font-size: 20px;
	}
}

@media screen and (max-width: 1300px){
	.page-footer-contacts__item {
    	padding: 0 25px 0 45px;
	}
	.bottom-menu-gen {
	    padding: 44px 20px 50px 70px;
	}
	.bottom-menu__item {
	    padding: 0 30px;
	}
	.top-catalog__item {
	    padding-right: 15px;
	}
	.top-catalog__wrap{
		margin-right: -15px;
	}
	.brands{
		margin-right: -20px;
	}
	.brands__item{
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.bottom-feedback-thanks {
	    padding: 47px 20px;
	}
}


@media screen and (max-width: 1200px){
	.top-menu__link {
	    padding: 24px 15px;
	}
	.page-header-contacts,
	.page-header-links{
	    margin-right: 40px;
	}
	.projects__item--sm-height .projects__info,
	.projects__item--lg-height .projects__info{
	    padding: 20px;
	}
	.projects__name {
	    font-size: 20px;
	}
	.benefits__txt {
	    font-size: 16px;
	    max-width: 100%;
	}
	.benefits__icon{
		margin-bottom: 30px;
	}
	.index-info-news{
		padding-right: 0;
		padding-left: 60px;
	}
	.benefits {
	    padding-top: 0;
	}
	.main-products__slider{
		margin-bottom: 30px;
	}
	.reviews__inner{
		padding: 20px;
	}
	.reviews-more{
		padding: 16px;
	}
	.reviews__img{
		margin-right: 20px;
	}
	.reviews__txt,
	.reviews__person,
	.read-more{
	    font-size: 14px;
	}
	.brands__item {
	    width: 20%;
	}
	.aside-categories__link {
	    padding: 10px 15px;
	}
	.aside-categories__top{
		padding: 0 15px;
	    line-height: 1.2;
	}
	.page-aside {
	    width: 300px;
	    padding-right: 25px;
	}
	.page-projects__list{
		.projects__item--sm-height .projects__img {
		    height: 220px;
		}
		.projects__item--lg-height .projects__img {
		    height: 480px;
		}
	}
	.project-slider__item {
	    height: 490px;
	}
	.project-info__inner {
	    max-height: 345px;
	}
	.object-top-info__inner {
	    font-size: 20px;
	}
	.object-top-info{
		padding-left: 100px;
	}
	.object-top {
	    padding: 30px 0 0;
	}
	.object-slider__info {
	    padding: 40px 25px;
	}
	.object-slider__img {
	    width: 50%;
	}
	.object-slider-wrap--info-left .object-slider__info {
	    margin-right: -20px;
	}
	.object-slider-wrap--info-left .slick-prev {
	    right: calc(50% - 80px);
	}
	.object-slider-wrap--info-right .slick-next {
	    left: calc(50% - 80px);
	}
	.object-slider-wrap--info-right .object-slider__info {
	    margin-left: -20px;
	}
	.object-partner__in {
	    max-width: 100%;
	    padding: 0 20px;
	}
	.storage__item {
	    font-size: 18px;
	}
	.storage__item span {
	    font-size: 24px;
	}
	.storage-add__txt {
	    font-size: 14px;
	}
	.catalog-top__info {
	    padding-right: 50px;
	}
	.filter {
	    padding: 15px;
	}
}

@media screen and (max-width: 1100px){
	.bottom-menu__item--multiple {
	    flex-grow: 0;
	}
	.bottom-menu__item--multiple .bottom-menu__links {
	    column-count: auto;
	}
	.bottom-menu__item {
	    width: 33.33%;
	}
	.projects__item--lg-height .projects__img {
	    height: 450px;
	}
	.projects__item--sm-height .projects__img {
	    height: 205px;
	}
	.pagingInfo{
		left: 250px;
	}
	.main-slider__inner {
	    max-width: 100%;
	    padding: 60px 20px;
	}
	.main-slider__title{
		margin-bottom: 20px;
	}
	.main-slider__add{
		margin-bottom: 30px;
	}
	.benefits__item {
	    padding-right: 20px;
	}
	.benefits__wrap{
		margin-right: -20px;
	}
	.reviews{
		margin-right: -20px;
	}
	.reviews__item{
		padding-right: 20px;
	}
	.brands-top__img {
	    width: 450px;
	}
	.brands-collection,
	.brands-product{
	    margin-right: -20px;
	    margin-bottom: 0;
	}
	.brands-collection__item,
	.brands-product__item{
		padding-right: 20px;
		margin-bottom: 20px;
	}
	.object-top-img {
	    text-align: right;
	}
	.object-top__inner {
	    width: 90%;
	    display: inline-block;
	}
	.catalog-top__title:after {
	    width: 317px;
	}

	.catalog .brands-collection__item{
	    width: 50%;
	}
	.catalog-top__title {
	    padding-right: 330px;
	}
	.catalog-category__inner {
	    padding: 20px;
	}
	.catalog-category__icon{
		margin-right: 20px;
	}
	.catalog-category__title {
	    font-size: 24px;
	}
	.use__slider--collection .brands-collection__item {
	    padding: 0 10px;
	}
	.use__slider--collection .slick-list {
	    margin: 0 -10px;
	}
}

@media screen and (max-width: 1023px){
	.breadcrumbs .container-fluid,
	.page-title .container-fluid,
	.page-content > .container-fluid{
	    max-width: 100%;
	}
	.workarea ol li ol {
	    margin-bottom: 25px;
	    padding: 25px 0 0 0px;
	}
	.workarea ol li ol li ol {
	    padding: 25px 0 0 0;
	}
	.container-fullwidth__img,
	.container-fullwidthLargeWrap__img{
	    margin-left: 0;
	    transform: none!important;
	    width: 100%;
	}
	.container-fullwidth,
	.container-fullwidthLargeWrap{
	    height: 455px;
	}
	.top-menu{
		display: none;
	}
	.top-menu-mobile{
		display: block;
	}
	.top-catalog{
		order: 1;
	}
	.top-search{
		order: 3;
		border-right: 0;
	}
	.top-search__submit {
	    right: 0;
	}
	.top-search__input{
		padding: 8px 25px 10px 22px;
	}
	.page-header-links{
		display: none;
	}
	.top-catalog__item {
	    width: 25%;
	        margin-bottom: 20px;
	}
	.top-catalog__wrap {
	    flex-wrap: wrap;
	}
	.top-catalog__menu{
		padding: 20px 0;
	}
	.projects__item--sm-height{
		.projects__name{
			font-size: 16px;
		}
	}
	.benefits__txt {
	    font-size: 13px;
	}
	.index-info-news__title {
	    font-size: 20px;
	}
	.projects__item--lg-height .projects__img {
	    height: 410px;
	}
	.projects__item--sm-height .projects__img {
	    height: 185px;
	}
	.brands__item {
	    width: 25%;
	}
	.page-projects__list .projects__item--lg-height .projects__img {
	    height: 360px;
	}
	.page-projects__list .projects__item--sm-height .projects__img {
	    height: 160px;
	}
	.aside-categories__txt {
	    font-size: 12px;
	}
	.project__wrap {
	    display: flex;
	    flex-wrap: wrap;
	}
	.project-info {
	    width: 100%;
	    padding: 20px;
	    order: 2;
	}
	.project-info__inner {
	    max-height: inherit;
	}
	.project-info__links {
	    position: static;
	    margin-top: 20px;
	}
	.project-info__link{
		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.project-info__item {
	    margin-bottom: 2px;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.object-add {
	    padding: 40px 0 0;
	}
	.storage__info{
		padding-right: 10px;
	}
	.storage__map{
		padding-left: 10px;
	}
	.storage__item {
	    font-size: 16px;
	}
	.storage__item span {
	    font-size: 20px;
	}
	.storage__top {
	    font-size: 24px;
	    line-height: 1.2;
	}
	.catalog-top__title:after {
	    width: 140px;
	}
	.catalog-top__title {
	    padding-right: 150px;
	}
	.catalog-category {
	    column-gap: 20px;
	}
	.catalog-category__icon {
	    width: 80px;
	    min-width: 80px;
	}
	.collection{
		.project-slider__img {
		    width: 100%;
		    height: 400px;
		        position: relative;
		}
		.project-slider__item{
			//height: auto;
			//width: 100%!important;
			padding: 0;
		}
		.project-slider-arrows {
		    bottom: auto;
		    top: 335px;
		}
		.project-slider__inner{
			position: absolute;
			top: 0;
			padding: 20px;
			width: 100%;
			left: 0;
		}
		.collection-info {
		    position: static;
		    width: 100%;
		    padding: 30px 15px 15px 15px;
		}
		.project-slider__item{
			height: auto;
		}
		// .slick-track{
		// 	min-width: 100%;
		// }
	}
	.collection-info__item{
		margin-bottom: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.collection-info__items {
	    margin-bottom: 10px;
	}
	.bottom-feedback-thanks {
	    font-size: 28px;
	}
}

@media screen and (max-width: 991px){
	.object-top-img {
	    margin: 0 0 20px 0;
	}
	.object-top__inner {
	    width: 100%;
	    display: block;
	}
	.object-benefits__item{
		margin-bottom: 40px;
	}
	.object-benefits__inner {
	    height: 100%;
	}
}

@media screen and (max-width: 950px){
	.page-projects {
	    padding-top: 0;
	    flex-wrap: wrap;
	}
	.page-aside {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
}

@media screen and (max-width: 900px){
	.brands__item {
	    width: 33.333%;
	}
}

@media screen and (max-width: 850px){
	.bottom-menu__wrap{
		flex-wrap:wrap;
	}
	.bottom-menu-gen {
	    width: 100%;
	    margin-left: -20px;
	}
	.index-info__wrap{
		flex-wrap:wrap;
	}
	.index-info-articles {
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.index-info-news {
	    padding-right: 0;
	    padding-left: 0;
	    width: 100%;
	    margin-bottom: 0;
	}
	.index-info-news__inner {
	    margin-left: 0;
	}
	.index-info-news .index-info__top {
	    max-width: 100%;
	    align-items:center;
	}
	.all-info{
		margin-bottom: 0;
	}
	.index-info-articles__img{
		height: 380px;
	}
	.index-info__top{
		max-width: 100%;
	    align-items:center;
	}
	.reviews__img {
	    min-width: 90px;
	    width: 90px;
	    height: 90px;
	}
	.brands-top__container{
		flex-wrap:wrap;
	}
	.brands-top__img {
	    width: 100%;
	    order: 1;
	    padding-left: 0;
	    margin-bottom: 20px;
	}
	.brands-top__info{
		order: 2;
		padding-right: 0;
	}
	.brands-collection__item,
	.brands-product__item{
		width: 33.333%;
	}
	.collection .index-info-news {
	    padding-top: 0;
	}
	.collection .index-info-news__inner{
		padding: 0;
	}
	.collection .index-info-news__item{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 800px){
	.page-footer-contacts__item {
	    padding: 0 15px;
	}
	
}

@media screen and (max-width: 768px){
	.r-tabs .r-tabs-accordion-title {
	    margin-bottom: 4px;
	}
	.r-tabs-anchor{
		position: relative;
		&:after{
			content: "";
		    width: 15px;
		    height: 9px;
		    background: url(../img/svg/faq_select_arrow.svg) center no-repeat;
		    background-size: cover;
		    position: absolute;
		    right: 10px;
		    top: 50%;
		    transform:translateY(-50%);
		    transition: all 0.3s ease;
		}
	}
	.r-tabs-state-active{
		.r-tabs-anchor{
			&:after{
				transform:translateY(-50%) rotate(180deg);
			}
		}
	}
	.accordeon__link:after{
		right: 10px;
		    top: 50%;
		    transform:translateY(-50%);
	}
}

@media screen and (max-width: 767px){
	.page-header__icon {
	    background: url(../img/svg/logo.svg) no-repeat;
	    width: 179px;
	    height: 36px;
	    background-size: contain;
	}
	.page-header__txt{
		display: none;
	}
	.page-footer-contacts__wrap {
	    flex-wrap: wrap;
	}
	.page-footer-contacts__item{
		width: 50%;
		margin-bottom: 20px;
		&:nth-child(2),
		&:nth-child(4){
			&:after{
				display: none;
			}
		}
		&:nth-child(3){
			padding-left: 0;
		}
	}
	.page-footer-contacts__top{
		margin-bottom: 15px;
		    min-height: auto;
	}
	.bottom-feedback__wrap{
		flex-wrap:wrap;
	}
	.bottom-feedback-form {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.bottom-feedback-map {
	    width: 100%;
	    padding-left: 0;
	}
	.bottom__wrap {
	    display: block;
	}
	.bottom {
	    padding: 20px 0;
	}
	.develop{
		margin-bottom: 20px;
	}
	.bottom-links{
		display: block;
	}
	.bottom-links__item {
	    margin-right: 0;
	    display: block;
	    margin-bottom: 20px;
	    &:after{
	    	display: none;
	    }
	}
	.paging__item {
	    border: 2px solid transparent;
	    padding: 6px 13px;
	    font-size: 16px;
	    margin-right: 4px;
		line-height: 1;
		display: flex;
		align-items: center;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.paging__item.active {
	    border: 2px solid #EAEAEA;
	}
	.top-catalog__toggle {
	    padding: 24px 12px 24px 32px;
	}
	.page-header-contacts, .page-header-links {
	    margin-right: 20px;
	}
	.container-fullwidth__txt,
	.container-fullwidthLargeWrap__txt{
	    font-size: 13px;
	    padding: 20px 15px;
	    width: 100%;
	    left: 0;
	    line-height: 1.2;
	}
	.page-footer-subscribe__title,
	.page-footer-subscribe__thanks{
		font-size: 20px;
	}
	.container-fullwidth,
	.container-fullwidthLargeWrap{
	    height: 340px;
	}
	.workarea cite {
	    font-size: 20px;
	}
	.paging__inner {
	    width: 100%;
	    justify-content: center;
	}
	.paging {
	    position: relative;
	    flex-wrap: wrap;
	    padding-bottom: 50px;
	}
	.paging__item.paging__item--prev{
		position: absolute;
		bottom: 15px;
		left: 0;
	}
	.paging__item.paging__item--next{
		position: absolute;
		bottom: 15px;
		right: 0;
	}
	.main-prev,
	.main-next,
	.main-slider-preview__img {
	    width: 130px;
	    height: 100px;
	}
	.main-slider-arrows{
		bottom: 130px;
	}
	.pagingInfo {
	    left: 160px;
	    bottom: 85px;
	}
	.main-slider__item {
	    height: 480px;
	}
	.reviews {
	    margin-right: 0;
	}
	.reviews__item {
	    padding-right:0;
	    width: 100%;
	}
	.project-slider__item {
	    height: 370px;
	}
	.object-add__title {
	    font-size: 20px;
	}
	.object-add__item{
		margin-bottom: 20px;
	}
	.object-top-info {
	    padding-left: 20px;
	    padding-bottom: 0;
	}
	.object-top {
	    padding: 30px 0 30px;
	}
	.object-top__inner {
	    height: 250px;
	}
	.object-benefits__title {
	    font-size: 20px;
	}
	.object-benefits__icon{
		margin-bottom: 20px;
	}
	.object-benefits__item {
    	margin-bottom: 20px;
	}
	.object-slider__item {
	    flex-wrap: wrap;
	}
	.object-slider-wrap--info-left .object-slider__info {
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: -15px;
	}
	.object-slider-wrap--info-right .object-slider__info {
	    margin-right: 20px;
	    margin-left: 20px;
	    margin-bottom: -15px;
	}
	.object-slider__img{
		width: 100%;
	}
	.object-slider-wrap{
		.container-fluid{
			padding: 0;
		}
	}
	.object-slider__add {
	    padding-top: 15px;
	    margin-top: 15px;
	    margin-bottom: -20px;
	}
	.object-slider-wrap--info-right .object-slider__info{
		order: 1;
	}
	.object-slider-wrap--info-right .object-slider__img{
		order: 2;
	}
	.object-slider-wrap--info-right .slick-next {
	    left: auto;
	    right: 20px;
	}
	.object-slider-wrap--info-left .slick-prev {
	    right: auto;
	    left: 20px;
	}
	.object-slider .slick-arrow {
	    top: auto;
	    bottom: 155px;
	}
	.complex__txt{
		font-size: 20px;
	}
	.complex__inner{
		height: 110px;
	}
	.complex__item {
	    margin-bottom: 17px;
	}
	.object-partner__title {
	    text-align: left;
	    line-height: 1.3;
	    font-size: 28px;
	}
	.object-partner__wrap {
	    flex-wrap: wrap;
	}
	.object-partner-form {
	    flex-basis: 100%;
	    padding: 0;
	    background: transparent;
	    margin-bottom: 30px;
	}
	.object-partner-form__title {
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	.object-partner-benefits {
	    padding: 20px;
	    margin-left: 0;
	}
	.object-partner-benefits__item{
		flex-wrap:wrap;
	}
	.object-partner-benefits__txt{
		width: 100%;
	}
	.object-partner-benefits__icon{
		margin-right: 0;
		margin-bottom: 10px;
	}
	.object-partner{
		margin-bottom: 100px;
	}
	.storage__map{
		position: static;
		img,&:after,&:before{
			display: none;
		}
	}

	.storage__info {
		padding-top: 0;
    width: 100%;}
    .storage__map {
    width: 0;
    padding: 0;}
	.storage__top{
		font-size: 28px;
	}
	.storage__items{
		flex-wrap:wrap;
	}
	.storage__item{
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.storage-add__item {
	    align-items: center;
	    padding-right: 0;
	    width: 100%;
	    margin-bottom: 20px;
	}
	.storage-add {
	    padding-top: 25px;
	    flex-wrap: wrap;
	        border-top: 2px solid #fff;
	}
	.object-top .breadcrumbs .container-fluid,
	.object-top .page-title .container-fluid{
	    padding-left: 20px;
	}
	.complex {
	    padding: 30px 0;
	}
	.catalog-top__title{
		padding-right: 0;
		&:after{
			display: none;
		}
	}
	.catalog-top__list{
		padding-right: 0;
	}
	.catalog-top__link {
	    margin-right: 12px;
	    margin-bottom: 7px;
	}
	.catalog-top__wrap{
		padding: 0;
		flex-wrap:wrap;
		flex-direction: column;
	}
	.catalog-top__info{
		padding-right: 0;
		width: 100%;
	}
	.catalog-top__icon{
		margin-top: 20px;
	}
	.catalog-category{
		column-count:1;
	}
	.bottom-feedback-thanks {
	    font-size: 20px;
	    padding: 38px 20px;
	}
	.complex__wrap:before {
	    width: calc(100% - 60px);
	    height: calc(100% - 40px);
	    top: 10px;
	    left: 30px;
	}
	.layout--tech h1 {
	    font-size: 40px;
	}
	.tech{
		font-size: 20px;
	}
}

@media screen and (max-width: 700px){
	.benefits__wrap{
		flex-wrap:wrap;
	}
	.benefits__item{
		width: 50%;
		margin-bottom: 20px;
	}
	.benefits{
		margin-bottom: 40px;
	}
	.index-services__wrap{
		margin-right: -20px;
	}
	.index-services__item{
		padding-right: 20px;
	}
	.main-next:hover:before{
		width: 70px;
	}
	.main-next:hover:after{
		transform: translateX(0);
	}
	.benefits__txt{
		br{
			display: none;
		}
	}
	.brands__item {
	    width: 50%;
	}
	.brands-collection__item,
	.brands-product__item{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.bottom-feedback-form__wrapper{
		margin-right: 0;
		flex-wrap:wrap;
	}
	.bottom-feedback-form__item{
		width: 100%;
		padding-right: 0;
	}
	.bottom-menu__cat {
	    padding: 20px 0;
	    flex-wrap: wrap;
	}
	.bottom-menu__item {
	    width: 100%;
	    margin-bottom: 20px;
	    padding: 0;
	    &:last-child{
	    	margin-bottom: 0;
	    }
	}
	.bottom-menu__item:after{
		display: none;
	}
	.bottom-menu-gen {
	    padding: 20px;
	}
	.bottom-menu-gen__link{
		margin-bottom: 15px;
	}
	.page-footer-contacts__item {
	    width: 100%;
	    padding: 0;
	    &:after{
	    	display: none;
	    }
	}
	.page-footer-subscribe{
		padding: 20px 0;
		margin-bottom: 20px;
	}
	.page-footer-contacts{
		padding-bottom: 20px;
	}
	.bottom-feedback-map__submit{
		padding-right: 0;
	}
	.bottom-menu__top{
		margin-bottom: 15px;
	}
	.page-header__info{
		display: none;
	}
	.page-header__icon {
	    width: 146px;
	        min-width: 146px;
	    height: 31px;
	    margin-right: 20px;
	}
	.page-header {
	    padding: 15px 0;
	}
	.page-header__txt {
	    display: block;
	    font-size: 10px;
	}
	.page-header__logo{
		display: flex;
		width: 100%;
		align-items:center;
	}
	.workarea {
	    line-height: 1.3;
	}
	.workarea h1,
	.fancybox-content h1{
		font-size: 30px;
	}
	.workarea h2,
	.fancybox-content h2{
		font-size: 28px;
	}
	.workarea h3,
	.fancybox-content h3{
		font-size: 25px;
	}
	.workarea h4,
	.fancybox-content h4{
		font-size: 22px;
	}
	.workarea h5,
	.fancybox-content h5{
		font-size: 20px;
	}
	.workarea ol li{
		padding-left: 20px;
	}
	.workarea ol li:before{
		top: 0;
	}
	.workarea ol li ol li {
	    padding-left: 30px;
	}
	.workarea ol li ol li ol li {
	    padding-left: 40px;
	}
	.gallery{
		margin-right: -10px;
	}
	.gallery__item {
	    width: 50%;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}
	.container-fullwidth,
	.container-fullwidthLargeWrap{
	    height: 260px;
	}
	.workarea cite {
	    font-size: 16px;
	    margin: 45px 0;
	}
	.workarea cite:before {
	    width: 26px;
	    height: 24px;
	    top: -28px;
	    background: url(../img/svg/cite-prev.svg) no-repeat;
	    background-size: contain;
	}
	.workarea cite:after {
	    width: 26px;
	    height: 24px;
	    bottom: -28px;
	    background: url(../img/svg/cite-next.svg) no-repeat;
	    background-size: contain;
	}
	.input-wrap {
	    margin-bottom: 25px
	}
	.checkbox-item,
	.radio-item{
		margin-bottom: 20px;
	}
	.caption {
	    font-size: 12px;
	    padding: 0px 0 20px;
	    line-height: 1.3;
	    margin-bottom: 20px;
	}
	.gallery__link{
		height: 120px;
	}
	.gallery__link--more span{
		font-size: 12px;
	}
	.download__txt:after{
		bottom: -1px;
	}
	.paging__item {
	    padding: 4px 10px;
	    font-size: 14px;
	    margin-right: 1px;
	    &:last-child{
	    	margin-right: 0;
	    }
	}
	.page-footer-subscribe__title,
	.page-footer-subscribe__thanks{
	    font-size: 14px;
	}
	.page-footer-subscribe__input {
	    padding: 20px 110px 20px 12px;
	}
	.page-footer-subscribe__form .btn {
	    padding: 25px 11px;
	}
	.top{
		height: 50px;
	}
	.top-catalog{
		width: 20%;
		border-right: 1px solid #D9D9D9;
	}
	.top-catalog__toggle {
	    padding: 10px;
	    text-indent: -9999em;
	    padding: 17px 5px;
	    border-right:0;
	    width: 100%;
	}
	.top-catalog__toggle:before {
	    left: 50%;
    	transform: translate(-50%, 0)!important;
	    margin-left: 0;
	    top: 17px;
	}
	.top-catalog__toggle:after {
	    top: 31px;
	    left: 50%;
    	transform: translate(-50%, 0)!important;
	    margin-left: 0;
	}

	.top-menu-mobile {
	    width: 20%;
	        min-width: 20%;
	    text-align: center;
	    border-right: 1px solid #D9D9D9;
	    order: 4;
	}
	.top-menu-mobile__toggle{
		padding: 17px 5px;
		border-right: 0; 
	}
	.top-menu-mobile__toggle span {
	    text-indent: -9999em;
	    display: inline-block;
	    width: 15px;
	}
	.top-menu-mobile__toggle span:before {
	    left: 0;
	    top: 0;
	    transform: none;
	}
	.top-search{
		display: none;
	}
	.top-search-mobile{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.top-phones-mobile{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.top-mobile-map{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.phone-list__col {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 15px;
	}
	.phone-title {
	    font-weight: 700;
	    margin-bottom: 12px;
	    line-height: 1.2;
	    font-size: 13px;
	}
	.phone-wrap {
	    margin-bottom: 8px;
	}
	.popup{
		.page-footer-contacts__mail {
		    font-size: 13px;
		}
	}
	.phone-list__inner{
		padding-bottom: 13px;
	}
	.phone__item{
		margin-bottom: 3px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.top-catalog__item {
		border-top: 1px solid #E2E2E2;
		padding: 13px 20px;
		position: relative;
		margin-bottom: 0;
		width: 100%;
	}
	.top-catalog__icon{
		display: none;
	}
	.top-catalog__menu{
		background: #fff;
		padding-top: 62px;
		top: 0;
		height: 100vh;
		box-shadow:none;
		top: -2px;
		.container-fluid{
			padding: 0;
		}
	}
	.top-catalog__link{
		display: inline-block;
		text-transform: uppercase;
		color: #000;
		font-size: 12px;
		font-weight: 700;
	}
	.top-catalog-sub{
		margin: 0 -20px -13px -20px;
		padding: 20px 20px 20px 40px;
		border-top: 1px solid #000;
		margin-top: 20px;
		display: none;
		background: #fff
	}
	

	.top-catalog__close{
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(../img/svg/close-link.svg) no-repeat;
		position: absolute;
		top: 18px;
		left: 20px;
	}
	.top-catalog-sub__toggle{
		display: inline-block;
	    width: 20px;
	    height: 15px;
	    background: url(../img/svg/faq_select_arrow.svg) center no-repeat;
	    background-size: contain;
	    position: absolute;
	    right: 20px;
	    top: 16px;
	    transition: transform 0.3s ease;
	}
	.top-catalog__item.active{
		background: #F9F9F9;
		.top-catalog-sub__toggle{
			transform:rotate(180deg);
		}
	}
	.top-catalog-sub__item {
	    display: block;
	    font-size: 13px;
	    margin-bottom: 20px;
	    color: #000;
	    text-decoration: none;
	}
	.top-catalog__wrap {
	    margin-right: 0;
		max-height: calc(100vh - 198px);
		overflow-y: auto;
		padding-bottom: 50px;
		text-align: left;
	}
	.top-catalog__wrap::-webkit-scrollbar {
	    height: 8px;
	    width: 5px;
	}
	 
	.top-catalog__wrap::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 5px;
	}
	 
	.top-catalog__wrap::-webkit-scrollbar-thumb {
	    border-radius: 5px;
	    background: #5A5A5A;
	}
	.top-catalog__txt {
	    font-weight: 700;
	}
	.main-prev{
		display: none!important;
	}
	.pagingInfo {
	    left: 20px;
	    font-size: 14px;
	}
	.index-services__txt {
	    font-size: 16px;
	    max-width: 100%;
	    padding: 0 10px;
	}
	.pagingInfo i {
	    font-size: 23px;
	    margin-right: 15px;
	}
	.index-info-articles__info{
		padding: 20px;
	}
	.index-info-news__inner {
	    padding: 20px;
	}
	.index-partners{
		margin-bottom: 30px;
	}
	.img-item.img-item--left img {
	    float: none;
	    margin: 0 0 20px 0;
	}
	.img-item.img-item--right img {
	    float: none;
	    margin: 0 0 20px 0;
	}
	.news__item{
		padding: 20px;
		height: 350px;
	}
	.top .container-fluid {
	    padding: 0;
	}
	.mobile-filter-toggle{
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}
	.alphabet-filter{
		display: none;
	}
	.alphabet-filter__ru {
	    text-align: left;
	    margin-bottom: 20px;
	        padding: 20px;
	    border-bottom: 1px solid #ccc;
	}
	.alphabet-filter__en{
		text-align: left;
	    padding: 20px;
	}
	.catalogs-in__item {
	    flex-wrap: wrap;
	}
	.catalogs-in__item .download-item {
	    width: 100%;
	    padding-top: 10px;
	}
	.catalogs-in__img {
	    margin-right: 0;
	    margin-bottom: 10px;
	}
	.download__txt:after{
		display: none;
	}
	.catalogs-in{
		.download__txt{
			max-width:70%;
		}
	}
	.page-aside{
		display: none;
	}
	.page-projects__list{
		width: 100%;
	}
	.page-projects__list .projects__item--lg-height .projects__img {
	    height: 300px;
	}
	.back-link {
	    width: 13px;
	    height: 30px;
	    background: url(../img/svg/back.svg) center no-repeat;
	    background-size: contain;
	    margin-right: 25px;
	}
	.project-prev{
		display: none!important;
	}
	.project-next {
	    left: auto;
	    right: 42px;
	}
	.project-slider-wrap .pagingInfo {
	    bottom: 58px;
	    left: 40px;
	}
	.brands-product__img {
	    height: auto;
	}
	.brands-product_title {
	    font-size: 15px;
	}
	.project-slider__item .back-link {
	    margin-right: 30px;
	    margin-top: -8px;
	}
	.project-slider-arrows {
	    bottom: 145px;
	}
	.object-top__inner {
	    height: 180px;
	}
	.object-slider__img{
		height: 200px;
	}
	.object-slider .slick-arrow {
	    bottom: 63px;
	}
	.contacts-feedback-map__link {
	    padding: 8px 35px;
	}
	.catalog-category__wrap {
	    flex-wrap: wrap;
	}
	.collection .project-slider__img {
	    height: 240px;
	}
	.collection .project-slider-arrows {
	    top: 183px;
	}
	.use__slider--collection{
		.brands-collection__img{
			height: 110px;
		}
	}
	.bottom-feedback-thanks {
	    font-size: 17px;
	    padding: 36px 20px;
	}
}

@media screen and (max-width: 576px){
	.projects__item--sm-height .projects__name {
	    font-size: 20px;
	}
	.projects__item--lg-height .projects__img,
	.projects__item--sm-height .projects__img{
	    height: 240px;
	}
}

@media screen and (max-width: 500px){
	.main-slider__inner {
	    padding: 30px 20px;
	}
	.main-slider__title{
		font-size: 24px;
	}
	.main-slider__add{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.main-slider__item {
	    height: 400px;
	}
	.index-services__in{
		height: 200px;
	}
	.index-services__txt:after {
	    width: 60px!important;
	    left: 50%;
	    margin-left: -30px;
	    bottom: -29px;
	}
	.index-services__txt:before{
		left: calc(50% + 17px)!important;
    	bottom: -48px;
	}
	.pagingInfo {
	    bottom: 20px;
	}
	.projects__title{
		flex-wrap:wrap;
	}
	.all-projects {
	    line-height: 1;
	    margin-bottom: 0;
	    margin-top: 10px;
	}
	.benefits__item {
	    width: 100%;
	}
	.fancybox-content {
	    padding: 40px 15px 15px;
	}
	.fancybox-slide--html .fancybox-close-small{
		top: 0;
	}
	.news__title {
	    font-size: 20px;
	}
	.brands__item {
	    width: 100%;
	}
	.catalog .brands-collection__item{
	    width: 100%;
	}
	.catalog .brands-collection__img {
	    height: 200px;
	}
}

@media screen and (max-width: 400px){
	.reviews__img {
	    min-width: 60px;
	    width: 60px;
	    height: 60px;
	}
	.brands-collection__item,
	.brands-product__item{
		width: 100%;
	}
	.brands-in-sort {
	    flex-wrap: wrap;
	}
	.brands-in-sort span {
	    margin-right: 0;
	    width: 100%;
	    margin-bottom: 10px;
	}
}