.workarea{
	line-height: 1.5;
	h1{
		margin: 0;
		margin-bottom: 20px;
		font-family: 'playfair_displayregular';
		font-weight: normal;
		font-size: 36px;
	}
	h2{
		margin: 0;
		margin-bottom: 20px;
		font-family: 'playfair_displayregular';
		font-weight: normal;
		font-size: 34px;
	}
	h3{
	    margin: 0;
	    margin-bottom: 20px;
	    font-family: 'playfair_displayregular';
	    font-weight: normal;
	    font-size: 32px;
	}
	h4{
	    margin: 0;
	    margin-bottom: 20px;
	    font-family: 'playfair_displayregular';
	    font-weight: normal;
	    font-size: 30px;
	}
	h5{
	    margin: 0;
	    margin-bottom: 20px;
	    font-family: 'playfair_displayregular';
	    font-weight: normal;
	    font-size: 28px;
	}

	p{
		margin: 0;
		margin-bottom: 20px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
}