.catalog{
	.brands-collection__item{
		width: 33.333%;
	}	
	.contacts-feedback-toggle{
		margin-bottom: 30px;
	}
	.brands-collection__img{
		height: 269px;
	}
}

.page-projects__list .catalog .paging {
    margin-top: 80px;
}

.filter{
	padding: 26px;
}

.catalog__add{
	font-size: 16px;
	    margin-bottom: 30px;

}