
.main-products{
    padding: 10px 0 3px;
}

.main-products__slider{
	display: none;
	margin-bottom: 85px;
	padding: 0 43px 0 43px;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		width: 21px;
		height: 39px;
		position: absolute;
		top: 50%;
		//margin-top: -20px;
		text-indent: -9999em;
		padding: 0;
		z-index: 3;
		border: 0;
		transition:all 0.3s ease;
		transform:translateZ(0);
		&.slick-disabled{
			opacity: 0.3;
			pointer-events:none;
		}
	}
	.slick-prev{
		left: 0;
		background: url(../img/svg/prev.svg) no-repeat;
		&:hover{
			transform: translateZ(0) scale(1.2);
		}
	}
	.slick-next{
		right: 0;
		background: url(../img/svg/prev.svg) no-repeat;
		transform:rotate(180deg);
		&:hover{
			transform: translateZ(0) rotate(180deg) scale(1.2);
		}
	}
}

.main-products__item{
	display: flex!important;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	&:hover{
		.main-products__icon{
			opacity: 0.6;
			&:before{
				transform: scale(1);
			}
		}
		.main-products__title{
			span{
				text-decoration: underline;
				color: #929292;
			}
		}
	}
}
.main-products__icon{
	display: flex;
    justify-content: center;
	width: 50px;
	height: 50px;
	margin-bottom: 13px;
	transition: opacity 0.3s ease;
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		background: #F8F8F8;
		border-radius: 50%;
		width: 80px;
		height: 80px;
		position: absolute;
		top: -17px;
		left: -17px;
		z-index: 1;
		transform: scale(0);
		transition: all 0.3s ease;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		position: relative;
		z-index: 3;
	}
}
.main-products__title{
	font-weight: 500;
	text-align: center;
	line-height: 1.2;
	span{
		display: inline-block;
		font-size: 12px;
		color: #000;
		position: relative;
		transition: all 0.3s ease;
		// &:after{
		// 	content: "";
		// 	display: block;
		// 	width: 100%;
		// 	height: 1px;
		// 	background: #000;
		// 	left: 0;
		// 	bottom: 0;
		// 	position: absolute;
		// 	transition: all 0.3s ease;
		// }
	}
}


.projects__title{
	display: flex;
	justify-content:space-between;
	margin-bottom: 21px;
	align-items: flex-end;
	h2{
		margin-bottom: 0;
		font-size: 36px;
	}
}

.all-projects{
	    color: #000;
    font-size: 16px;
    padding-right: 30px;
    position: relative;
    line-height: 1;
    margin-bottom: 8px;
	&:after{
		 content: "";
	    display: inline-block;
	    width: 19px;
	    height: 1px;
	    position: absolute;
	    left: calc(100% - 20px);
	    top: 50%;
	    transform: translateY(-50%);
	    background: #000;
	    transition: all 0.3s ease;
	    bottom: auto;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background: url(../img/svg/p-next.svg) no-repeat;
		background-size: contain;
		position: absolute;
		left: calc(100% - 7px);
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s ease;
	}
	span{
		display: inline-block;
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #000;
			left: 0;
			bottom: 1px;
		}
	}
	&:hover{
		color: #929292;
		&:after{
			width: 34px;
		}
		&:before{
			left: calc(100% + 7px);
		}
	}
}

.projects__item{
	margin-bottom: 40px;
	display: block;
	overflow: hidden;
	position: relative;
	color: #fff;
	&:hover{
		.projects__img{
			transform: scale(1.1);
		}
		.projects__name{
			text-decoration: underline;
		}
		.projects__link{
			span{
				&:after{
					height: 4px;
				}
			}
		}
	}
}

.projects__item--lg-height{
	.projects__img{
		height: 576px;
	}	
}

.projects__item--sm-height{
	.projects__img{
		height: 268px;
	}	
	.projects__info{
	        padding: 30px 30px 33px 30px;
	}
}


.projects__img{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
	
}
.projects_shad{
	//content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.projects__info{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction:column;
	    justify-content: space-between;
	z-index: 3;
	    padding: 40px 40px 43px 40px;
	color: #fff;
}
.projects__top{
	max-width: 430px;
}

.projects__link{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	span{
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: all 0.3s ease;
		}
	}
}
.projects__name{
	font-size: 26px;
	transition: all 0.3s ease;
	    line-height: 1.2;
    margin-bottom: 29px;
        text-decoration-skip-ink: none;
}
.projects__add{
	font-size: 14px;
	    line-height: 1.4;
	    font-weight: 400;
}

.banner{
	margin-bottom: 30px;
}

.banner__in{
	width: 100%;
	min-height: 104px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content:center;
	color: #fff;
	&:hover{
		.banner__img{
			transform: scale(1.1);
		}
	}
	&:before{
		content: "";
		position: absolute;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		top: 10px;
		left: 10px;
		border: 1px solid #fff;
		z-index: 2;
	}
}

.banner__img{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
}

.banner__shad{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 100%);
}

.banner__txt{
	position: relative;
	z-index: 3;
	font-size: 24px;
}

.benefits{
	padding-top: 68px;
	margin-bottom: 60px;
	h2{
		font-size: 36px;
		margin-bottom: 21px;
	}
}

.benefits__wrap{
	display: flex;
	margin-right: -40px;
}
.benefits__item{
	padding-right: 40px;
	width: 25%;
}
.benefits__in{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	border: 4px solid #EAEAEA;
	padding: 16px;
}

.benefits__icon{
	margin-bottom: 94px;
	width: 50px;
	height: 40px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}
.benefits__txt{
	font-size: 20px;
	font-weight: 500;
	max-width: 240px;
	line-height: 1.2;
}

.index-services{
	margin-bottom: 44px;
}
.index-services__wrap{
	margin-right: -40px;
	display: flex;
}
.index-services__item{
	padding-right: 40px;
	width: 50%;
}

.index-services__in{
	position: relative;
	display: flex;
	align-items: center;
	justify-content:center;
	height: 258px;
	width: 100%;
	position: relative;
	color: #fff;
	overflow: hidden;
	&:hover{
		.index-services__img{
			transform: scale(1.1);
		}
		.index-services__shad{
			background:rgba(0,0,0,0.5);
		}
		.index-services__txt{
			&:after{
				width: 150px;
			}
			&:before{
				    left: calc(50% + 83px);
			}
		}
	}
}


.index-services__img{
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
	left: 0;
	top: 0;
}
.index-services__txt{
	font-size: 24px;
	max-width: 260px;
	position: relative;
	z-index: 3;
	text-align: center;
	line-height: 1.2;
	&:after{
		content: "";
		display: inline-block;
		width: 110px;
		height: 2px;
		position: absolute;
		left: 50%;
		margin-left: -54px;
		background: #fff;
		transition: all 0.3s ease;
		bottom: -53px;
	}
	&:before{
		content: "";
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    background: url(../img/svg/s-next.svg) no-repeat;
	    background-size: contain;
	    position: absolute;
	    left: calc(50% + 43px);
	    bottom: -72px;
	    transform: translateY(-50%);
	    transition: all 0.3s ease;
	}
}

.index-services__shad{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    //transition: background 0s linear;
}

.index-partners{
	margin-bottom: 93px;
	//white-space: nowrap;
}

.index-partners__item{
	    display: flex;
    align-items: center;
    justify-content: center;
}

.index-partners__link{
	display: inline-block;
	margin-right: 37px;
	&:last-child{
		margin-right: 0;
	}
	img{
		transition:filter 0.3s ease;
		 filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
	    filter: gray; /* IE6-9 */
	    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

	}
	&:hover{
		img{
			filter: grayscale(0);
		}
	}
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0,0,0,1);
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    height: 2px;
    margin: 7px auto;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	border-radius: 0;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    height: 10px;
    margin: 3px auto;
}
.mCSB_scrollTools .mCSB_draggerRail{
	border-radius: 0;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded+.mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    height: 2px;
    margin: 7px 0;
}

.mCustomScrollbar{
	&:hover{
		.mCSB_dragger_bar{
			height: 10px!important;
    		margin: 3px auto!important;
		}
	}
}

// .mCSB_draggerContainer{
// 	max-width: 1360px;
// }


.index-info{
	background: #5A5A5A;
	padding-top: 43px;
	padding-bottom: 20px;
	color: #fff;
}

.index-info__wrap{
	display: flex;
}

.index-info-articles{
	padding-right: 21px;
	width: 50%;
}


.index-info-articles__item{
	display: block;
	overflow: hidden;
	position: relative;
	color: #fff;
	
}




.index-info-articles-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		display: inline-block;
		width: 67px;
		height: 20px;
		background: transparent;
		position: absolute;
		bottom: 29px;
		text-indent: -9999em;
		padding: 0;
		z-index: 13;
		border: 0;
		transition:all 0.3s ease;
		&.slick-disabled{
			opacity: 0.3;
			pointer-events:none;
		}
		&:hover{
			width: 88px;
		}
	}
	.slick-prev{
		right: calc(100% - 104px);
		&:before{
			content: "";
			display: block;
			background: #fff;
			height: 1px;
			width: 100%;
			position: absolute;
			top: 50%;
			right: 0;
		}
		&:after{
			content: "";
			display: block;
			background: url(../img/svg/p-next-w.svg) no-repeat;
    		background-size: contain;
			height: 12px;
			width: 12px;
			position: absolute;
			top: 50%;
			right: calc(100% - 8px);
			transform: rotate(180deg);
			margin-top: -5.9px;
		}
	}
	.slick-next{
		left: 144px;
		&:before{
			content: "";
			display: block;
			background: #fff;
			height: 1px;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			//margin-top: -5.9px;
		}
		&:after{
			content: "";
			display: block;
			background: url(../img/svg/p-next-w.svg) no-repeat;
    		background-size: contain;
			height: 12px;
			width: 12px;
			position: absolute;
			top: 50%;
			left: calc(100% - 8px);
			margin-top: -5.9px;
		}
	}
	&:hover{
		.index-info-articles__img{
			transform: scale(1.1);
		}
		.index-info-articles__title{
			text-decoration: underline;
		}
		.index-info-articles__more{
			span{
				&:after{
					height: 4px;
				}
			}
		}
	}
}



.index-info-articles__img{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease;
	height: 531px;
}
.index-info-articles__shad{
	//content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.index-info-articles__info{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	padding: 40px 40px 43px 40px;
	color: #fff;
}
.index-info-articles__title{
	max-width: 430px;
	    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 29px;
}

.index-info-articles__add{
	    max-width: 430px;
    line-height: 1.35;
    margin-bottom: 51px;;
}

.index-info-articles__more{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	span{
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: all 0.3s ease;
		}
	}
}


.index-info__top{
	display: flex;
	justify-content: space-between;
	    align-items: flex-end;
	color: #fff;
	margin-bottom: 22px;
	h2{
		margin-bottom: 0;
		font-size: 36px;
	}
}


.index-info-news{
	padding-left: 137px;
	    padding-right: 78px;
	width: 50%;
	    margin-bottom: -65px;
	.index-info__top{
		max-width: 426px;
	}
}
.index-info-news__inner{
	    padding: 41px 40px 20px 40px;
	background:  #3A3A3A;
	margin-left: -41px;
}



.all-info{
	color: #fff;
    font-size: 16px;
    padding-right: 30px;
    position: relative;
    line-height: 1;
    margin-bottom: 8px;
	&:after{
		 content: "";
	    display: inline-block;
	    width: 19px;
	    height: 1px;
	    position: absolute;
	    left: calc(100% - 20px);
	    top: 50%;
	    transform: translateY(-50%);
	    background: #fff;
	    transition: all 0.3s ease;
	    bottom: auto;
	}
	&:before{
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background: url(../img/svg/p-next-w.svg) no-repeat;
		background-size: contain;
		position: absolute;
		left: calc(100% - 7px);
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s ease;
	}
	span{
		display: inline-block;
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background: #fff;
			left: 0;
			bottom: 0;
			position: absolute;
			transition:all 0.3s ease;
		}
	}
	&:hover{
		color: #929292;
		&:after{
			width: 34px;
		}
		&:before{
			left: calc(100% + 7px);
		}
		span{
			&:after{
				bottom: -3px;
			}
		}
	}
}

.index-info-news__item{
	position: relative;
	    padding-bottom: 31px;
    margin-bottom: 41px;
    display: block;
    color: #fff;
	&:after{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&:last-child{
		margin-bottom: 0;
		&:after{
			display: none;
		}
	}
	&:hover{
		.index-info-news__title{
			text-decoration: underline;
		}
		.index-info-news__more{
			span{
				&:after{
					height: 4px;
				}
			}
		}
	}
}

.index-info-news__title{
	    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 12px;
    color: #fff;
    display: inline-block;
    text-decoration-skip-ink: none;
}
.index-info-news__txt{
	font-size: 14px;
	margin-bottom: 17px;
	padding-right: 10px;
}

.index-info-news__more{
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	span{
		position: relative;
		&:after{
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: all 0.3s ease;
		}
	}
}


.main-slider-wrap{
	position: relative;
}
.main-slider__item{
	height: 650px;
	position: relative;
}
.main-slider__img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	}
}


.main-slider__inner{
	max-width: 660px;
	margin: 0 auto;
	padding-top: 60px;
	position: relative;
	z-index: 3;
	color: #fff;
}

.main-slider__title{
	font-size: 36px;
	line-height: 1.2;
	display: inline-block;
	margin-bottom: 40px;
	color: #fff;
	&:hover{
		text-decoration: underline;
	}
}

.main-slider__add{
	    font-size: 22px;
    line-height: 1.35;
    margin-bottom: 59px;
}


.main-slider__more{
	color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    span{
    	position: relative;
    	&:after{
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: all 0.3s ease;
    	}
    }
    &:hover{
    	span{
    		&:after{
    			height: 4px;
    		}
    	}
    }
}


.main-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
}
.main-slider-arrows{
	position: absolute;
        bottom: 218px;
    width: 100%;
}

.main-prev{
	width: 213px;
	height: 140px;
	// background: #fff;
	left: 0;
	position: absolute;
	display: inline-block;
	cursor: pointer;
	.main-slider-preview{
		left: -20px;
	}
	&:before{
		content: "";
	    display: inline-block;
	    width: 70px;
	    height: 2px;
	    background: #fff;
	    position: absolute;
	    right: -12px;
	    z-index: 4;
	    /* bottom: 20px; */
	    top: 50%;
	    margin-top: -1px;
	    transition:all 0.3s linear;
	}
	&:after {
	    content: "";
	    display: block;
	    background: url(../img/svg/p-next-w.svg) no-repeat;
	    background-size: contain;
	    height: 16px;
	    width: 16px;
	    position: absolute;
	    top: 50%;
	    right: 48px;
	    transform: rotate(180deg);
	    margin-top: -8px;
	    z-index: 4;
	    transition:all 0.3s linear;
	}
	&:hover{
		&:before{
			width: 145px;
		}
		&:after{
			transform: rotate(180deg) translateX(75px);
		}
		.main-slider-preview__img{
			transform: scale(1.15);
		}
	}
}

.main-next{
	width: 213px;
	height: 140px;
	right: 0;
	position: absolute;
	display: inline-block;
	cursor: pointer;
	.main-slider-preview{
		right: -20px;
	}
	&:before{
		content: "";
	    display: inline-block;
	    width: 70px;
	    height: 2px;
	    background: #fff;
	    position: absolute;
	    left: -12px;
	    z-index: 4;
	    /* bottom: 20px; */
	    top: 50%;
	    margin-top: -1px;
	    transition:all 0.3s linear;
	}
	&:after {
	    content: "";
	    display: block;
	    background: url(../img/svg/p-next-w.svg) no-repeat;
	    background-size: contain;
	    height: 16px;
	    width: 16px;
	    position: absolute;
	    top: 50%;
	    left: 48px;
	    //transform: rotate(180deg);
	    margin-top: -8px;
	    z-index: 4;
	    transition:all 0.3s linear;
	}
	&:hover{
		&:before{
			width: 145px;
		}
		&:after{
			transform: translateX(75px);
		}
		.main-slider-preview__img{
			transform: scale(1.15);
		}
	}
}

.main-slider-preview{
	z-index: 3;
	transition:all 0.2s ease;
	opacity: 0;  
	visibility: hidden;
	position: absolute;
}

.main-slider-preview__img{
	width: 213px;
	height: 140px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
	    transition: transform 0.3s ease;
	// &:hover{
		
	// }
}



.activeSlide-1{
	.main-prev{
		.main-slider-preview{
			&:last-child{
				opacity: 1;  
				visibility: visible;
			}
		}
	}
	.main-next{
		[data-slide="2"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}

.activeSlide-2{
	.main-prev{
		[data-slide="1"] {

			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="3"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}
.activeSlide-3{
	.main-prev{
		[data-slide="2"] {
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="4"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}

.activeSlide-4{
	.main-prev{
		[data-slide="3"] {
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="5"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}


.activeSlide-5{
	.main-prev{
		[data-slide="4"] {
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="6"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}


.activeSlide-6{
	.main-prev{
		[data-slide="5"] {
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="7"] {
			opacity: 1;  
			visibility: visible;
		}
	}
}


.activeSlide-7{
	.main-prev{
		[data-slide="6"] {
			
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="8"] {
		
			opacity: 1;  
			visibility: visible;
		}
	}
}



.activeSlide-8{
	.main-prev{
		[data-slide="7"] {
		
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="9"] {
			
			opacity: 1;  
			visibility: visible;
		}
	}
}


.activeSlide-9{
	.main-prev{
		[data-slide="8"] {
			
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="10"] {
		
			opacity: 1;  
			visibility: visible;
		}
	}
}


.activeSlide-10{
	.main-prev{
		[data-slide="9"] {
			
			opacity: 1;  
			visibility: visible;
		}
	}
	.main-next{
		[data-slide="11"] {
			
			opacity: 1;  
			visibility: visible;
		}
	}
}

.last-slide{
	.main-next{
		.main-slider-preview{
			&:first-child{
				transition:all 0.2s ease;
				opacity: 1;  
				visibility: visible;
			}
		}
	}
}

.pagingInfo{
	position: absolute;
	color: #fff;
	z-index: 3;
	bottom: 121px;
    left: 350px;
	font-size: 18px;
	display: flex;
	align-items:flex-start;
	i{
		font-style: normal;
		font-size: 36px;
		margin-right: 20px;
	}
	span{
		padding-top: 5px;
	}
}





