.object{
	
}



.object-top{
	    background: #5A5A5A;
    color: #fff;
    padding: 77px 0 0;
    margin: -36px 0 22px;
	.breadcrumbs__item{
		color: #fff;
	}
	.breadcrumbs .container-fluid{
		padding-left: 39px;
	}
	.page-title .container-fluid{
		padding-left: 36px;
	}
}

.object-top-img{
	margin: -125px 0 -30px;
}
.object-top-info{
	padding-left: 117px;
	padding-bottom: 40px;
	.project-info__link{
		font-size: 16px;
	}
}
.object-top-info__inner{
	font-size: 28px;
	font-family: 'playfair_displayregular';
	line-height: 1.4;
	margin-bottom: 30px;
}

.object-top__container{
	display: flex;
	padding-top: 18px;
}

.object-top__inner{
	width: 100%;
	height: 383px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.layout--obj{
	.page-content>.container-fluid{
		max-width: 100%;
	}
}

.object-benefits{
	padding: 40px 0;
}

.object-benefits__inner{
	border:4px solid #EAEAEA;
	padding: 22px 28px 24px 28px;
}
.object-benefits__icon{
	width: 44px;
    height: 44px;
    margin-bottom: 27px;
    margin-left: 4px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

.object-benefits__title{
	font-size: 24px;
	margin-bottom: 12px;
	font-family: 'playfair_displayregular';
	line-height: 1.3;
}

.object-add{
	padding: 73px 0 0;
}

.object-add__title{
	font-size: 26px;
	margin-bottom: 20px;
	line-height: 1.2;
}

.object-add__txt{
	font-size: 12px;
}



.object-partner{
	position: relative;
	padding-top: 67px;
	margin-bottom: 60px;
}
.object-partner__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 90px);
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%)
	}
}

.object-partner__in{
	max-width: 930px;
	margin: 0 auto -60px; 
	position: relative;
	z-index: 2;
}

.object-partner__title{
	text-align: center;
	font-size: 30px;
	font-family: 'playfair_displayregular';
	margin-bottom: 36px;
	color: #fff;
}


.object-partner-benefits{
    border: 4px solid #EAEAEA;
    background: #fff;
    padding: 36px 25px 45px 33px;
    flex: 1;
    margin-left: -67px;
    margin-bottom: -37px;
}

.object-partner-benefits__item{
	display: flex;
	align-items:flex-start;
	margin-bottom: 23px;
	&:last-child{
		margin-bottom: 0;
	}
}

.object-partner-benefits__icon{
	width: 65px;
	min-width: 65px;
	height: 65px;
	margin-right: 16px;
	display: flex;
    align-items: center;
    justify-content: center;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

.object-partner-form{
	background: #5A5A5A;
	flex-basis:573px;
	    padding: 32px 100px 40px 40px;
	color: #fff;
	input[type="text"],
	input[type="email"],
	input[type="password"]{
		border: 0!important;
		padding: 11px 15px;
	}
	textarea{
		    padding: 7px 15px;
    	min-height: 77px;
	}
	.btn{
		color: #fff;
		&:after{
			background: #fff; 
		}
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		color: #fff;
		font-weight: 300;
	}
	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:checked + label:before {
	    border: 0;
	    background: #fff;
	}
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:after{
		width: 17px;
		height: 14px;
		background: url(../img/svg/check.svg) no-repeat; 
		top: -2px;
	}
	.input-wrap{
		margin-bottom: 20px;
	}
	.checkbox-item{
		margin-bottom: 28px;
	}
	.input-wrap--necessary:after{
		left: 5px;
	}
}


.object-partner-form input::-webkit-input-placeholder {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form input::-moz-placeholder          {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form input:-moz-placeholder           {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form input:-ms-input-placeholder      {color:#000;transition:all 0.3s ease;font-size: 14px;}



.object-partner-form input:focus::-webkit-input-placeholder {color: transparent}
.object-partner-form input:focus::-moz-placeholder          {color: transparent}
.object-partner-form input:focus:-moz-placeholder           {color: transparent}
.object-partner-form input:focus:-ms-input-placeholder      {color: transparent}

.object-partner-form textarea::-webkit-input-placeholder {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form textarea::-moz-placeholder          {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form textarea:-moz-placeholder           {color:#000;transition:all 0.3s ease;font-size: 14px;}
.object-partner-form textarea:-ms-input-placeholder      {color:#000;transition:all 0.3s ease;font-size: 14px;}



.object-partner-form textarea:focus::-webkit-input-placeholder {color: transparent}
.object-partner-form textarea:focus::-moz-placeholder          {color: transparent}
.object-partner-form textarea:focus:-moz-placeholder           {color: transparent}
.object-partner-form textarea:focus:-ms-input-placeholder      {color: transparent}

.object-partner__wrap{
	display: flex;

    align-items: center;
}

.object-partner-form__title{
	font-size: 24px;
	margin-bottom: 27px;
	line-height: 1.2;
}


.complex{
	padding: 44px 0 40px;
}

.complex__title{
	font-size: 30px;
	margin-bottom: 26px;
	font-family: 'playfair_displayregular';
}

.complex__inner{
	width: 100%;
	height: 175px;
	position: relative;
	overflow: hidden;
}

.complex__link{
	display: flex;
	width: 100%;
	height: 100%;
	align-items:center;
	justify-content:center;
	color: #fff;
	&:hover{
		.complex__bg{
			    transform: scale(1.1);
		}
	}
}

.complex__txt{
	display: inline-block;
	font-size: 24px;
	font-family: 'playfair_displayregular';
	text-align: center;
	line-height: 1.38;
	position: relative;
	z-index: 2;
}

.complex__bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s ease;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	&:before{
		content: "";
	    display: block;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.415) 100%);
	}
}

.complex__item{
	margin-bottom: 40px;
}

.complex__wrap{
	position: relative;
	    margin-bottom: -40px;
	&:before{
		content: "";
		display: block;
		opacity: 0.3;
		border: 3px solid #EAEAEA;
		width: calc(100% - 100px);
		height: calc(100% - 100px);
		position: absolute;
		    top: 30px;
    	left: 50px;
		z-index: 2;
		pointer-events: none;
	}
}


.storage{
	    padding: 40px 0 12px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.76) 0%, rgba(0, 0, 0, 0.31) 100%);
	}
}

.storage__wrap{
	display: flex;
	overflow: hidden;
}
.storage__info{
	width: 50%;
	padding-right: 34px;
	padding-top: 42px;
}
.storage__map{
    width: 50%;
    padding-left: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
	img{
		max-width: 100%;
		height: auto;
		display: block;
	}
	&:after{
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: rotate(-40deg);
		margin-top: 5px;
	}
	&:before{
		content: "";
		display: block;
		width: calc(100% + 376px);
		height: 2px;
		background: #fff;
		position: absolute;
		top: 50%;
		right: 50%;
		margin-top: 11px;
		/* margin-left: 14px; */
		transform: translateX(3px);
	}
}

.storage__top{
	font-size: 30px;
	font-family: 'playfair_displayregular';
	margin-bottom: 31px;
}

.storage__item{
	font-size: 24px;
	font-family: 'playfair_displayregular';
	margin-bottom: 20px;
	width: 50%;
	padding-right: 23px;
	line-height: 1.3;
	span{
		font-size: 40px;
	}
}

.storage-add{
	padding-top: 155px;
	display: flex;
	align-items:center;
}

.storage-add__item{
	display: flex;
	align-items: flex-start;
	padding-right: 20px; 
}

.storage-add__icon{
	    width: 50px;
    min-width: 50px;
    height: 46px;
    margin-right: 19px;
	img{
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}
.storage-add__txt{
	font-size: 20px;
	line-height: 1.4;
}
.storage__items{
	display: flex;
	position: relative;
	
}

.object-slider-wrap{
	    padding: 0px 0 40px;
}

.object-slider__item{
	display: flex!important;
	align-items:center;
}

.object-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 39px;
		height: 39px;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		display: inline-block;
		border: 0;
		padding: 0;
		text-indent: -9999em;
		z-index: 3;
		transition: all 0.3s ease;
	}
	.slick-prev{
		
		background: rgba(0, 0, 0, 0.5) url(../img/svg/sl-prev.svg) center no-repeat; 
		&:hover{
			background: rgba(255, 255, 255, 0.5) url(../img/svg/sl-prev.svg) center no-repeat;
			transform: translateY(-50%) scale(1.2);
		}
	}
	.slick-next{
		
		background: rgba(0, 0, 0, 0.5) url(../img/svg/sl-next.svg) center no-repeat; 
		&:hover{
			background: rgba(255, 255, 255, 0.5) url(../img/svg/sl-next.svg) center no-repeat;
			transform: translateY(-50%) scale(1.2);
		}
	}
}

.object-slider__img{
	width: 775px;
	height: 375px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	}
}
.object-slider__info{
    color: #fff;
    background: #5A5A5A;
    padding: 58px 140px 58px 97px;
    font-size: 24px;
    font-family: 'playfair_displayregular';
    flex: 1;
    text-align: center;
    line-height: 1.35;
    
    z-index: 3;
}

.object-slider-wrap--info-left{
	.object-slider__info{
		order:1;
		margin-right: -80px;
	}
	.object-slider__img{
		order: 2;
	}
	.slick-prev{
		right: 642px;
	}
	.slick-next{
		right: 20px;
	}
}

.object-slider-wrap--info-right{
	.object-slider__info{
		order: 2;
		margin-left: -80px;	
	}
	.object-slider__img{
		order: 1;
	}
	.slick-prev{
		left: 20px;
	}
	.slick-next{
		left: 642px;
	}
}

.object-slider__add{
    border-top: 1px solid #fff;
    padding-top: 30px;
    margin-top: 30px;
}