.reviews{
	display: flex;
	flex-wrap:wrap;
	margin-right: -40px;
}

.reviews__item{
	padding-right: 40px;
	width: 50%;
	margin-bottom: 20px;
}

.reviews__inner{
	height: 100%;
	background: #5A5A5A;
	color: #fff;
	display: flex;
	padding: 22px 20px 23px 30px;
	position: relative;
}
.reviews__img{
	min-width: 135px;
	width: 135px;
	height: 135px;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 58px;
	    margin-top: 7px;
}
.reviews__info{
	position: relative;
	// &:before{
	// 	content: "";
	// 	display: inline-block;
	// }
}

.reviews__txt{
	font-size: 16px;
	margin-bottom: 13px;
}
.reviews__person{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 4px;
}
.reviews__date{
	color: #949494;
	font-size: 13px;
}

.reviews__icon{
	font-size: 200px;
	line-height: 200px;
	color: #FFFFFF;
	opacity: 0.2;
	position: absolute;
	left: -19px;
    top: -21px;
}

.read-more{
	font-size: 16px;
	color: #fff;
	border-bottom: 1px dashed #fff;
	display: inline-block;
	//margin-top: 10px;
	transition:all 0.3s ease;
	&:hover{
		border-bottom: 1px dashed transparent;
	}
}

.reviews-more{
	background: #FFFFFF;
	border: 4px solid #EAEAEA;
	display: flex;
    padding: 18px 16px 19px 26px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
    z-index: 3;
    max-height: calc(200% + 20px);
    overflow-y: auto; 
    display: none;
    &.active{
    	display: flex;
    }
    .reviews__date{
    	color: #000;
    }
}



.reviews-more::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}
 
.reviews-more::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
.reviews-more::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5A5A5A;
}

.reviews-more__close{
	display: inline-block;
	width: 14px;
	height: 13px;
	background: url(../img/svg/r-close.svg) no-repeat;
	position: absolute;
	right: 5px;
	top: 5px;
	&:hover{
		opacity: 0.7;
	}
}